.app {
  $main-nav-bg: $gray-dark;
  overflow-x: hidden;

  .default {
    @include make-row();
  }

  .main-nav {
    background-color: $main-nav-bg;
    @include rev-out;
    overflow: hidden;
    @include make-sm-column(4);
    @include transition(width 0.2s ease);
    @media screen and (min-width: $screen-sm) {
      height: 100vh;
      padding-right: 0;
    }

    a {
      color: inherit;
    }

    .panel {
      margin-bottom: 0;

      &.add-item {
        border-bottom: solid 2px $gray-darker;
      }
    }

    .source-item {

      .panel-title {
        .jobnumber {
          display: none;
        }
      }

      .job {
        border-bottom: solid 1px $gray-darker;

        .status {
          display: none;
        }
        .jobnumber {
          float: right;
        }
      }

      &:hover {
        border-left-width: 5px;
      }

      & + .source-item {
        .source {
          border-top: solid 1px $gray-darker;
        }

        &.active {
          .source {
            border-top-color: $body-bg;
          }
          &.panel-danger {
            .source.active {
              border-top-color: $brand-danger;
            }
          }
          &.panel-success {
            .source.active {
              border-top-color: $brand-success;
            }
          }
        }
      }
    }
    @media screen and (min-width: $screen-sm) {
      &:after {
        content: '';
        height: 50px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        @include gradient-vertical(rgba($main-nav-bg,0), $main-nav-bg, 0%, 100%);
      }
    }
  }

  .source-view {
    @include make-sm-column(8);
    @include transition(width 0.2s ease);
    @media screen and (min-width: $screen-sm) {
      padding-left: 0;
    }

    .main-header {
      background-color: $gray-lighter;
    }
  }

  .main-header {
    height: 64px;
    background-image: none;

    .logo {
      padding: 22px 20px 20px 20px;
      width: 24px;
      overflow: hidden;

      svg {
        width: 150px;

        .good,
        .tables,
        .io {
          display: none;
        }
      }
    }

    & + .nav-tabs {
      margin-right: 5px;
      margin-top: -40px;
    }
  }

  .secondary-nav {
    display: none;

    [class^="icon-"] {
      display: none;
    }

    a {
      &:hover {
        background-color: transparent;
        cursor: pointer;
      }
    }

    @media screen and (min-width: $screen-sm) {
      display: block;
      overflow: hidden;
      padding-top: 30px;
      position: fixed;
      bottom: 10px;
      left: -5px;
      z-index: 2;

      [class*=" icon-"],
      [class^=icon-] {
        display: inline-block;
        border-radius: 50%;
        padding: 0.4em;
      }

      .label {
        font-size: 0;
        color: transparent;
      }

      a {
        &:hover {
          .label {
            font-size: 13px;
            color: inherit;
            position: relative;
            top: -1px;
          }
        }
      }
    }
  }

  .source-view {
    & > div {
      & > .inner {
        padding: $grid-gutter-width/2 $grid-gutter-width;
      }
    }

    .source-item {
      margin-top: $grid-gutter-width/2;
      margin-bottom: $grid-gutter-width/2;

      .source {
        padding-top: $grid-gutter-width/2;
        padding-bottom: $grid-gutter-width/2;
      }

      .job {
        padding-top: $grid-gutter-width/4;
        padding-bottom: $grid-gutter-width/4;

        .jobnumber {
          display: none;
        }
        .status {
          float: right;
          text-transform: capitalize;
        }
      }
    }
  }

  section.add-source,
  section.settings {
    width: 0;
    height: 100vh;
    @include transition(width 0.2s ease);
    overflow: hidden;
    float: left;
    margin-left: -15px;
  }

  section.add-source {
    background-color: $brand-primary;
  }

  section.settings {
    background-color: $brand-info;
  }

  [class^='show-view-'] {
    float: right;
    text-decoration: none;
    cursor: pointer;
    margin-top: 4px;
    display: none;

    span {
      @include text-hide;
      display: block;
    }

    &:before {
      @include icon-font();
      font-size: 32px;
      padding: 10px;
      display: inline-block;
    }
  }

  .show-view-default {
    &:before {
      content: "\e901";
    }
  }

  .show-view-list {
    &:before {
      content: "\e900";
    }
    @media screen and (min-width: $screen-sm) {
      display: inline-block;
    }
  }

  &.list-view {

    .show-view-list {
      display: none;
    }

    .show-view-default {
      @media screen and (min-width: $screen-sm) {
        display: inline-block;
      }
    }

    .default {
      @media screen and (min-width: $screen-sm) {
        width: 200%;
        margin-right: 0;
      }
    }

    .main-nav {
      @media screen and (min-width: $screen-sm) {
        width: 50%;
        height: auto;
        min-height: 100vh;
      }

      .panel {
        @include make-sm-column(6);
        @include make-md-column(4);
        @include make-lg-column(3);
        padding-left: 0;
        padding-right: 0;
        border-right: solid 2px $gray-darker;


        & + .source-item {
          .source {
            border-top: none;
          }
        }

        .job {
          border-bottom-width: 2px;
        }
      }

      &:after {
        display: none;
      }
    }
    .source-view {
      @media screen and (min-width: $screen-sm) {
        width: 50%;
        height: 100vh;
        overflow: hidden;
      }
    }
  }

  &.add-view,
  &.settings-view {
    .inner {
      width: 200vw;
      @include transition(width 0.2s ease);

      .default {
        width: 100vw;
        float: left;
        margin-left: 0;

        .main-nav {
          padding-left: 0;
        }
      }
    }
  }

  &.add-view {
    @media screen and (min-width: $screen-sm) {
      section.add-source {
        width: 33vw;
        padding-left: 15px;
      }
    }
  }

  &.settings-view {
    @media screen and (min-width: $screen-sm) {
      section.settings {
        width: 33vw;
        padding-left: 15px;
      }
    }
  }
}
