.app {
  overflow-x: hidden;

  .main-nav {
    background-color: $brand-primary;
    @include rev-out;
    padding-bottom: $grid-gutter-width/2;

    .logo {
      $logoHeight: 35px;
      display: block;
      padding: $grid-gutter-width/2;

      svg {
        width: $logoHeight*6;
        height: $logoHeight;
      }

      @media screen and (min-width: $screen-sm) {
        padding: $grid-gutter-width;
      }
    }

    @media screen and (min-width: $screen-sm) {
      height: 100vh;
      position: fixed;
      width: 300px;
    }

    .nav {
      font-weight: 500;

      a {
        color: #fff;
      }

      li {
        &.active {
          a {
            background-color: $brand-info;
          }
        }
      }

      &.primary {
        @media screen and (min-width: $screen-sm) {
          font-size: 16px;

          a {
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }
      }

      &.secondary {
        @media screen and (min-width: $screen-sm) {
          position: absolute;
          bottom: $grid-gutter-width/2;
          width: 100%;
        }
      }

      @media screen and (min-width: $screen-sm) {
        margin-left: $grid-gutter-width/2;

        a {
          border-radius: $border-radius-large 0 0 $border-radius-large;
        }
      }
    }
  }

  .content {
    h1 {
      border-bottom: solid 1px $gray-light;
      margin: 0 (-$grid-gutter-width/2) $grid-gutter-width/2 (-$grid-gutter-width/2);
      padding: $grid-gutter-width*0.75 $grid-gutter-width/2;
    }

    @media screen and (min-width: $screen-sm) {
      margin-left: 300px;

      h1 {
        padding-left: $grid-gutter-width;
        padding-right: $grid-gutter-width;
      }
    }

    @media screen and (min-width: $screen-md) {
      & > div {
        @include make-row();
        position: relative;
        min-height: 100vh;
      }
    }
  }
}
