.app {
  overflow-x: hidden;

  & > .inner {
    @include make-row();
  }

  .main-nav {
    background-color: $gray-dark;
    @include rev-out;
    overflow: hidden;
    @include make-sm-column(4);
    @include transition(width 0.2s ease);
    @media screen and (min-width: $screen-sm) {
      min-height: 100vh;
      padding-right: 0;
    }

    a {
      color: inherit;
    }

    .panel {
      margin-bottom: 0;

      &.add-item {
        border-bottom: solid 2px $gray-darker;
      }
    }

    .source-item {

      .panel-title {
        .jobnumber {
          display: none;
        }
      }

      .job {
        border-bottom: solid 1px $gray-darker;

        .status {
          display: none;
        }
        .jobnumber {
          float: right;
        }
      }

      &:hover {
        border-left-width: 5px;
      }

      & + .source-item {
        .source {
          border-top: solid 1px $gray-darker;
        }

        &.active {
          .source {
            border-top-color: $body-bg;
          }
          &.panel-danger {
            .source.active {
              border-top-color: $brand-danger;
            }
          }
          &.panel-success {
            .source.active {
              border-top-color: $brand-success;
            }
          }
        }
      }
    }
  }

  .source-view {
    @include make-sm-column(8);
    @include transition(width 0.2s ease);
    @media screen and (min-width: $screen-sm) {
      padding-left: 0;
    }

    .main-header {
      background-color: $gray-lighter;
    }
  }

  .main-header {
    height: 64px;
    background-image: none;

    .logo {
      padding: 22px 20px 20px 20px;
      width: 24px;
      overflow: hidden;

      svg {
        width: 150px;

        .good,
        .tables,
        .io {
          display: none;
        }
      }
    }

    & + .nav-tabs {
      margin-right: 5px;
      margin-top: -40px;
    }
  }

  .secondary-nav {
    border-bottom: solid 1px $gray-darker;

    @media screen and (min-width: $screen-sm) {
      overflow: hidden;
      padding-top: 30px;
      pointer-events: none;
      position: fixed;
      width: inherit;
      bottom: -2px;
      left: -5px;
      z-index: 1;
    }

    li {
      border-top: solid 1px $gray-darker;
      border-bottom: solid 1px $gray-darker;
      background-color: $gray-dark;
      pointer-events: auto;

      &:first-child {
        border-top-width: 0;
        @media screen and (min-width: $screen-sm) {
          border-top-width: 2px;
          box-shadow: 0px 20px 30px 30px rgba($gray-dark,0.75);
        }
      }

      a {
        &:hover {
          background-color: rgba(#fff, 0.05);
        }
      }
    }

    @media screen and (min-width: $screen-sm) {
      //allow for .secondary-nav
      &.one-item + .tab-content {
        padding-bottom: 32px;
      }
      &.two-items + .tab-content {
        padding-bottom: 64px;
      }
      &.three-items + .tab-content {
        padding-bottom: 96px;
      }
    }
  }

  .source-view {
    & > div {
      & > .inner {
        padding: $grid-gutter-width/2 $grid-gutter-width;
      }
    }

    .source-item {
      margin-top: $grid-gutter-width/2;
      margin-bottom: $grid-gutter-width/2;

      .source {
        padding-top: $grid-gutter-width/2;
        padding-bottom: $grid-gutter-width/2;
      }

      .job {
        padding-top: $grid-gutter-width/4;
        padding-bottom: $grid-gutter-width/4;

        .jobnumber {
          display: none;
        }
        .status {
          float: right;
          text-transform: capitalize;
        }
      }
    }
  }

  .show-default-view {
    display: none;
  }

  &.list-view {

    .show-list-view {
      display: none;
    }

    .show-default-view {
      display: inline-block;
    }

    & > .inner {
      @media screen and (min-width: $screen-sm) {
        width: 200%;
        margin-right: 0;
      }
    }

    .main-nav {
      @media screen and (min-width: $screen-sm) {
        width: 50%;
      }

      .panel {
        @include make-sm-column(6);
        @include make-md-column(4);
        @include make-lg-column(3);
        padding-left: 0;
        padding-right: 0;
        border-right: solid 2px $gray-darker;


        & + .source-item {
          .source {
            border-top: none;
          }
        }

        .job {
          border-bottom-width: 2px;
        }
      }
    }
    .source-view {
      @media screen and (min-width: $screen-sm) {
        width: 50%;
      }
    }
  }
}
