$mn-background: lighten($gray-lighter,6%);
$mn-colour: $text-color;
$mn-border: $gray-lighter;
$mn-panel: #fff;
$mn-header: $brand-success;
$mn-tabs: $mn-panel;
$mn-divider: $mn-background;

.panel {

  .github,
  .aws {
    .integration {
      @include gradient-horizontal(rgba($mn-panel,0), $mn-panel, 0%, 25%);
      color: rgba($mn-colour,0.8);

      &:hover {
        color: $mn-colour;
      }
    }
  }

  &.source-item {
    $hover-bg: $mn-panel;
    background-color: $mn-panel;
    color: $mn-colour;

    .source,
    .job {
      border-right-color: $mn-divider;

      &:hover {
        background-color: $hover-bg;
      }
    }

    .source {
      &:hover {
        & ~ .integration {
          @include gradient-horizontal(rgba($hover-bg,0), $hover-bg, 0%, 25%);
        }
      }
    }

    .job {
      border-top: solid 1px $mn-border;
    }

  }
}


.app {

  .main-nav {
    background-color: $mn-background;

    .main-header {
      background-color: $mn-header;
    }

    .nav-tabs {
      border-bottom-color: $mn-background;

      & > li.active > a,
      & > li.active > a:hover,
      & > li.active > a:focus {
        color: $mn-colour;
        background-color: $mn-tabs;
        border-color: $mn-tabs;
      }
    }

    .tab-pane {
      background-color: $mn-border;
    }

    .source-item {

      .job {
        border-bottom-color: $mn-border;
      }

      & + .source-item {
        .source {
          border-top-color: $mn-border;
        }
      }
    }
    @media screen and (min-width: $screen-sm) {
      box-shadow: inset -2px 0px 0px 0px $mn-divider;

      &:after {
        @include gradient-vertical(rgba($mn-background,0), $mn-background, 0%, 100%);
      }
    }
  }

  .secondary-nav {
    @media screen and (min-width: $screen-sm) {
      [class*=" icon-"],
      [class^=icon-] {
        box-shadow: 0px 0px 0px 4px $mn-background;
      }

      a {
        &:hover {
          .label {
            box-shadow: 0px 0px 0px 3px $mn-background;
          }
        }
      }

      &:before {
        background-color: $mn-background;
      }
    }
  }

  section.add-source {
    background-color: $gray-darker;
  }

  section.settings {
    background-color: $gray-darker;
  }

  &.list-view {
    .main-nav {
      .source,
      .job {
        border-right-color: $mn-border;
      }
    }
  }
}
