$main-nav-bg: $gray-dark;
$main-nav-cl: #fff;
$main-nav-bd: $gray-darker;
$main-nav-pn: $main-nav-bg;
$main-nav-hd: $gray-darker;

.panel {
  background-color: $main-nav-pn;
  color: $main-nav-cl;

  .github,
  .aws {
    .integration {
      @include gradient-horizontal(rgba($main-nav-pn,0), $main-nav-pn, 0%, 25%);
      color: rgba($main-nav-cl,0.8);

      &:hover {
        color: $main-nav-cl;
      }
    }
  }

  &.source-item {
    $hover-bg: darken($main-nav-bg,2%);

    .source,
    .job {
      border-right-color: $main-nav-bg;

      &:hover {
        background-color: $hover-bg;
      }
    }

    .source {
      &:hover {
        & ~ .integration {
          @include gradient-horizontal(rgba($hover-bg,0), $hover-bg, 0%, 25%);
        }
      }
    }

    .job {
      border-top: solid 1px $main-nav-bd;
    }

  }
}


.app {

  .main-nav {
    background-color: $main-nav-bg;
    @include rev-out($main-nav-cl, $main-nav-bg);

    .main-header {
      background-color: $main-nav-hd;
    }

    .nav-tabs {
      border-bottom-color: $main-nav-bg;

      & > li.active > a,
      & >  li.active > a:hover,
      & >  li.active > a:focus {
        color: $main-nav-cl;
        background-color: $main-nav-bg;
        border-color: $main-nav-bg;
      }
    }

    .source-item {

      .job {
        border-bottom-color: $main-nav-bd;
      }

      & + .source-item {
        .source {
          border-top-color: $main-nav-bd;
        }
      }
    }
    @media screen and (min-width: $screen-sm) {
      &:after {
        @include gradient-vertical(rgba($main-nav-bg,0), $main-nav-bg, 0%, 100%);
      }
    }
  }

  section.add-source {
    background-color: $gray-darker;
  }

  section.settings {
    background-color: $gray-darker;
  }

  &.list-view {
    .main-nav {
      .source,
      .job {
        border-right-color: $main-nav-bd;
      }
    }
  }
}
