.main-header {
  $header_colour: $gray-darker;
  background-color: $header_colour;
  @include rev-out;
  background-image: url("../img/pattern.png");
  background-size: 135px 135px;
  background-position: top center;

  .inner {
    @include gradient-horizontal($header_colour, rgba($header_colour,0), 0%, 100%);
  }

  .logo {
    display: block;
    width: 200px;
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;
    box-sizing: content-box;
  }
}
