.panel {
  border-width: 0;
  @include rev-out;
  overflow: hidden;

  a {
    color: inherit;
  }

  @mixin active-panel {
    background-color: $body-bg;
    color: $text-color;
    border-left-width: 5px;
  }

  &.active {
    @media screen and (min-width: $screen-sm) {
      @include active-panel;
    }
  }

  .github,
  .aws {
    position: relative;

    .integration {
      position: absolute;
      top: 1px;
      right: 0;
      font-size: 15px;
      text-decoration: none;
      padding: 11px 10px;
    }
  }

  &.source-item {
    white-space: nowrap;

    .label {
      margin-right: 10px;
    }

    .panel-title {
      display: inline-block;
      font-weight: 600;
    }

    .source,
    .job {
      display: block;
      text-decoration: none;

      &.active {
        @media screen and (min-width: $screen-sm) {
          color: #fff;
          background-color: $brand-warning;
          border-color: $brand-warning;
        }
      }
    }

    .source {
      padding: 10px;
    }

    .job {
      border-top: solid 1px $gray-darker;
      padding: 3px 10px;
      font-size: 12px;
      font-weight: 500;

      .jobcount {
        float: right;
      }
    }

    @mixin panel_state($colour: $brand-warning) {
      .source,
      .job {
        display: block;

        &.active {
          background-color: $colour;
          border-color: $colour;
        }
      }
      .source.active {
        .label {
          background-color: #fff;
          color: $colour;
        }

        & + .job.active {
          @media screen and (min-width: $screen-sm) {
            border-top-color: rgba(#fff,0.2);
          }
        }

        & ~ .integration {
          color: rgba(#fff,0.8);
          @include gradient-horizontal(rgba($colour,0), $colour, 0%, 25%);

          &:hover {
            color: #fff;
          }
        }
      }
    }

    &.panel-success {
      @media screen and (min-width: $screen-sm) {
        @include panel_state($brand-success);
      }
      .source-view & {
        @include panel_state($brand-success);
      }
    }

    &.panel-danger {
      @media screen and (min-width: $screen-sm) {
        @include panel_state($brand-danger);
      }
      .source-view & {
        @include panel_state($brand-danger);
      }
    }

    &.active {
      @media screen and (min-width: $screen-sm) {
        .source,
        .job {
          &:not(.active) {
            &:hover {
              background-color: inherit;
            }
          }
        }
        .source:hover ~ .integration {
          @include gradient-horizontal(rgba($body-bg,0), $body-bg, 0%, 25%);
        }
        .integration {
          @include gradient-horizontal(rgba($body-bg,0), $body-bg, 0%, 25%);
          color: rgba($text-color,0.8);

          &:hover {
            color: $text-color;
          }
        }
        &.panel-success {
          .source.active:hover ~ .integration {
            @include gradient-horizontal(rgba($brand-success,0), $brand-success, 0%, 25%);
          }
        }
        &.panel-danger {
          .source.active:hover ~ .integration {
            @include gradient-horizontal(rgba($brand-danger,0), $brand-danger, 0%, 25%);
          }
        }
      }
    }
  }
}

// add item
.add-item {
  padding: 10px;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    text-decoration: none;
  }

  & > .inner {

    &:before {
      @include icon-font();
      content: "\ea0a";
      background-color: #fff;
      color: $gray-dark;
      border-radius: 50%;
      padding: 0.2em;
      font-size: 11px;
      top: 0;
    }
  }

  &.panel {
    display: block;

    & > .inner {
      display: block;
      border: dashed 1px rgba(#fff,0.7);
      padding: 15px;
      @include transition(padding 0.2s ease);
      border-radius: 2px;
      opacity: 0.5;
    }

    &:hover {
      & > .inner {
        border-color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
        opacity: 1;
        background-color: lighten($gray-dark,5%);

        &:before {
          color: lighten($gray-dark,5%);
        }
      }
    }
  }
}
