.panel {
  border-width: 0;
  @include rev-text;

  a {
    color: inherit;
  }

  &.active {
    background-color: $body-bg;
    color: $text-color;
    border-left-width: 5px;
  }

  .github,
  .aws {
    position: relative;

    .integration {
      position: absolute;
      top: 1px;
      right: 0;
      font-size: 15px;
      text-decoration: none;
      padding: 11px 10px;
      @include gradient-horizontal(rgba($gray-dark,0), $gray-dark, 0%, 25%);
      color: rgba(#fff,0.8);

      &:hover {
        color: #fff;
      }
    }
  }

  &.source-item {
    $hover-bg: lighten($gray-dark,4%);
    white-space: nowrap;

    .label {
      margin-right: 10px;
    }

    .panel-title {
      display: inline-block;
    }

    .source,
    .job {
      display: block;
      text-decoration: none;

      &:hover {
        background-color: $hover-bg;
      }

      &.active {
        color: #fff;
        background-color: $brand-warning;
        border-color: $brand-warning;
      }
    }

    .source {
      padding: 10px;

      &:hover {
        & ~ .integration {
          @include gradient-horizontal(rgba($hover-bg,0), $hover-bg, 0%, 25%);
        }
      }
    }

    .job {
      border-top: solid 1px rgba(#fff,0.1);
      padding: 3px 10px;
      font-size: 12px;
      font-weight: 500;
    }

    @mixin panel_state($colour: $brand-warning) {
      .source,
      .job {
        display: block;

        &.active {
          background-color: $colour;
          border-color: $colour;
        }
      }
      .source.active {
        .label {
          background-color: #fff;
          color: $colour;
        }

        & + .job.active {
          border-top-color: rgba(#fff,0.2);
        }

        & ~ .integration {
          color: rgba(#fff,0.8);
          @include gradient-horizontal(rgba($colour,0), $colour, 0%, 25%);

          &:hover {
            color: #fff;
          }
        }
      }
    }

    &.panel-success {
      @include panel_state($brand-success);
    }

    &.panel-danger {
      @include panel_state($brand-danger);
    }

    &.active {
      .source,
      .job {
        &:not(.active) {
          &:hover {
            background-color: inherit;
          }
        }
      }
      .source:hover ~ .integration {
        @include gradient-horizontal(rgba(#fff,0), #fff, 0%, 25%);
      }
      .integration {
        @include gradient-horizontal(rgba(#fff,0), #fff, 0%, 25%);
        color: rgba($text-color,0.8);

        &:hover {
          color: $text-color;
        }
      }
      &.panel-success {
        .source.active:hover ~ .integration {
          @include gradient-horizontal(rgba($brand-success,0), $brand-success, 0%, 25%);
        }
      }
      &.panel-danger {
        .source.active:hover ~ .integration {
          @include gradient-horizontal(rgba($brand-danger,0), $brand-danger, 0%, 25%);
        }
      }
    }
  }
}
