.goodtables-ui-report {

  $container-gutter-width:      $grid-gutter-width;
  $spacer:                      $grid-gutter-width;
  $report-bg-colour:            $body-bg;
  $report-text-colour:          $text-color;
  $file-heading-border-colour:  $gray-light;
  $label-margin:                $padding-small-horizontal;
  $table-border-radius:         $border-radius-large;
  $table-text-colour:           $gray-darker;
  $table-border-colour:         $gray;
  $fail-colour:                 $brand-danger;
  $pass-colour:                 $brand-success;
  $divider-image-path:          "~assets/img/zigzag.svg";
  $divider-image-width:         29px;
  $divider-image-height:        10px;
  $divider-mask-path:           "~assets/img/zigzagmask.svg";


  background-color: $report-bg-colour;

  .file-heading {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;

    strong {
      font-weight: 600;
    }

    .inner {
      display: table;
      width: 100%;
      position: relative;
      z-index: 1;
      text-align: right;

      &.stick {
        position: fixed;
        top: 0;
        background-color: $report-bg-colour;
        z-index: 99;
      }

      :first-child {
        text-align: left;
      }

      &:before {
        content: '';
        position: absolute;
        top: -10px;
        bottom: 1px;
        left: -30px;
        right: -30px;
        background-color: $report-bg-colour;
        z-index: -1;
        border-bottom: solid 1px $file-heading-border-colour;
        border-top: solid 1px $file-heading-border-colour;
      }
    }

    .file-count,
    .file-name,
    .test-counts {
      display: table-cell;
      color: $report-text-colour;
      text-decoration: none;
      height: 64px;
      vertical-align: middle;

      &:hover {
        color: inherit;
      }
    }

    .file-name {
      font-size: 14px;
    }

    .test-counts {
      width: 1%;

      .label {
        margin-left: $label-margin/2;
        position: relative;
        top: -0.2em;
        border: solid 1px $report-bg-colour;

        &.passed {
          border-color: $pass-colour;
          color: $pass-colour;

          &.collapsed {
            background-color: $pass-colour;
            color: $report-bg-colour;
          }
        }

        &.failed {
          border-color: $fail-colour;
          color: $fail-colour;
        }
      }
    }
  }


  .file {
    &.valid {
      .file-heading {
        .inner:before {
          border-bottom-color: $pass-colour;
        }
        strong {
          color: $pass-colour;
        }
      }
    }

    &.invalid {
      .file-heading {
        .inner:before {
          border-bottom-color: $fail-colour;
        }
        strong {
          color: $fail-colour;
        }
      }
    }
  }

  .result {
    margin: $spacer 0;
    font-size: 12px;
    position: relative;

    .count {
      font-size: 14px;
      font-weight: 600;
      margin-right: $label-margin;
    }

    .label {
      font-size: 14px;
      margin-right: $label-margin;
    }

    .help {
      float: right;
      display: none; // not currently using
    }

    .table-view {
      position: relative;

      .inner {
        overflow-x: auto;
        padding-top: 15px;
      }

      table {
        margin: 0;
        color: $table-text-colour;
        border-collapse: separate;

        tr {
          position: relative;

          :last-child {
            border-right-width: 1px;
          }

          &.fail {
            td {
              background-color: $state-danger-bg;
            }
          }

          &:first-child {
            font-weight: 600;

            :first-child {
              border-top-left-radius: $table-border-radius;
            }

            :last-child {
              border-top-right-radius: $table-border-radius;
            }
          }

          &.row-pass {
            &:not(:first-child) {
              display: none;

              & + .row-before-fail {
                &:after {
                  content: '';
                  display: block;
                  position: absolute;
                  left: -5px;
                  right: -5px;
                  background-color: $report-bg-colour;
                  height: 10px;
                  border-top: solid 1px $table-border-colour;
                  border-bottom: solid 1px $table-border-colour;
                  outline: solid 4px $report-bg-colour;
                }
              }
            }
          }
        }

        td {
          border-style: solid;
          border-color: $table-border-colour;
          border-width: 1px 0 0 1px;
          position: relative;

          &.fail {
            background-color: $state-danger-bg;
          }

          @mixin truncate($side:left) {
            &:before,
            &:after {
              content: '';
              display: block;
              position: absolute;
              bottom: 0;
              top: -5px;
              background-color: $report-bg-colour;
            }
            &:before {
              width: 14px;
              @if $side == left {
                left: 6px;
              }
              @if $side == right {
                right: 6px;
              }
            }
            &:after {
              width: 10px;
              @if $side == left {
                left: 8px;
              }
              @if $side == right {
                right: 8px;
              }
              border-left: solid 1px $table-border-colour;
              border-right: solid 1px $table-border-colour;
            }
          }

          &.col-pass {
            display: none;

            & + .col-before-fail {
              @include truncate;
            }
          }

          &.col-after-fail:not(:last-child) {
            @include truncate(right);
          }
        }
      }

      .result-row-index {
        font-weight: normal;
        width: 2em;
        text-align: center;
      }

      &:after {
        content: '';
        position: absolute;
        left: -1px;
        right: -1px;
        bottom: -1px;
        height: 30px;
        @include gradient-vertical(rgba($report-bg-colour,0), $report-bg-colour, 0%, 50%);
      }
    }

    &:not(:last-child) {
      padding-bottom: $divider-image-height + ($spacer/3);

      &:after {
        content: '';
        position: absolute;
        left: -$container-gutter-width;
        right: -$container-gutter-width;
        bottom: 0;
        height: $divider-image-height;
        background-image: url('#{$divider-image-path}');
        background-position: center;
        background-repeat: repeat-x;
        background-size: $divider-image-width $divider-image-height;
      }
    }

    .show-more {
      color: $table-text-colour;
      font-weight: 600;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
      position: relative;
      top: -0.5em;

      [class^="icon-"] {
        font-size: 1.5em;
        top: 0.2em;
        left: -0.1em
      }
    }
  }

  .passed-tests {
    padding: 0 $container-gutter-width;
    margin: ($spacer/2) (-$container-gutter-width);

    &:not(:last-child):after {
      left: 0;
      right: 0;
      bottom: -1px;

      @if variable-exists(divider-mask-path) {
        background-color: $report-bg-colour;
        mask: url($divider-mask-path);
        mask-size: $divider-image-width $divider-image-height;
        mask-position: center;
        mask-repeat: repeat-x;
      }
    }

    li {
      display: inline-block;

      .label {
        display: inline-block;
        margin-bottom: $label-margin;
      }
    }
  }

}
