$parts-selector-list-border-width: 2px !default;
$parts-selector-list-bg-colour: #fff !default;
$parts-selector-list-border-colour: #dfdfdf !default;
$parts-selector-list-border-radius: $border-radius-large;
$parts-selector-break-point: 768px !default;
$parts-selector-spacer: 15px !default;
$parts-selector-list-margin: $parts-selector-spacer*2 !default;
$parts-selector-list-item-text-colour: inherit;
$parts-selector-list-heading-text-colour: rgba(0,0,0,.8) !default;
$parts-selector-selected-bg-colour: #2196f3 !default;
$parts-selector-selected-text-colour: #fff !default;
$parts-selector-success-bg-colour: #2196f3 !default;
$parts-selector-success-text-colour: $parts-selector-selected-text-colour !default;
$parts-selector-info-bg-colour: #2196f3 !default;
$parts-selector-info-text-colour: $parts-selector-selected-text-colour !default;
$parts-selector-error-bg-colour: #2196f3 !default;
$parts-selector-error-text-colour: $parts-selector-selected-text-colour !default;
$parts-selector-control-icon-colour: #dfdfdf !default;
$parts-selector-control-icon-ready-colour: darken($parts-selector-control-icon-colour, 10%) !default;
$parts-selector-inline-icon-colour: $parts-selector-control-icon-colour !default;
